<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="../Styles/Index.css">
    <link rel="icon" type="image/x-icon" href="../Assets/calculator-icon.png">
</head>

<body>
    <div id="Container">
        <div id="Calculator-Container">
            <div id="Screen-Container">
                <div id="Screen">
                    
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../Scripts/Index.js"></script>

</html>