<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Calculadora para operaciones aritméticas: Suma, resta, multiplicación y división">
    <title>Calculadora</title>
    <link rel="stylesheet" href="../Styles/Index.css">
    <link rel="icon" type="image/x-icon" href="../Assets/calculator-icon.png">
</head>

<body>
    <header>
        <h1 id="Title">Calculadora Aritmética</h1>
        <h2 id="Title-Description">Suma, resta, multiplicación y división</h2>
    </header>
    <main id="Container">
        <div id="Calculator-Container">
            <div id="Screen-Container">
                <div id="Screen">
                    <div id="Entries">
                        <input type="button" value="🕮" id="Entries-input">
                    </div>
                    <div id="Screen-Numbers">
                        <textarea name="Numbers-Input" id="Numbers-Input" cols="10" rows="1" readonly>1</textarea>
                    </div>
                </div>
            </div>
            <div id="Input-Container">
                <div id="Functions-Top">
                    <input type="button" value="CE">
                    <input type="button" value="C">
                    <input type="button" value="↩">
                    <input type="button" value="÷">
                </div>
                <div id="Numbers-Top">
                    <input type="button" value="7">
                    <input type="button" value="8">
                    <input type="button" value="9">
                    <input type="button" value="x">
                </div>
                <div id="Numbers-Middle">
                    <input type="button" value="4">
                    <input type="button" value="5">
                    <input type="button" value="6">
                    <input type="button" value="-">
                </div>
                <div id="Numbers-Bottom">
                    <input type="button" value="1">
                    <input type="button" value="2">
                    <input type="button" value="3">
                    <input type="button" value="+">
                </div>
                <div id="Functions-Bottom">
                    <input type="button" value="±">
                    <input type="button" value="0">
                    <input type="button" value=".">
                    <input type="button" value="=">
                </div>
            </div>
        </div>
    </main>
</body>

<script src="../Scripts/Index.js"></script>

</html>